@import "tailwindcss";

.font-dotgothic {
  font-family: 'DotGothic16', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-vt323 {
  font-family: 'VT323', monospace;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}



@import 'pixel-retroui/dist/index.css';
@import 'pixel-retroui/dist/fonts.css';